<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Indrajeet's Portfolio</title>
    <script src="lib/angular.min.js"></script>
    <link rel="stylesheet" href="portfolio.css">
    <script src="portfolio.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap.js"></script>
    <link rel="stylesheet" href="lib/bootstrap.css">
</head>
<body ng-app = "Mymodule" ng-controller="myController">
    <div class="intro" ng-if="homeVisible == true">
        <h1 style="padding-top: 15%">Hello, I'm <span>Indrajeet Mandloi</span>.</h1>
        <h1>I'm a Full-Stack Web Developer.</h1>
        <!--<a href="#" class="btn btn-info btn-lg arrow-button">-->
            <!--View my work <span class="glyphicon glyphicon-circle-arrow-right"></span>-->
        <!--</a>-->

        <button class="slide" ng-click="aboutPage();">&nbsp;</button>
    </div>
    <div ng-if="navbarVisible == true">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button"  class="navbar-toggle" data-toggle="collapse" data-target=".list">

                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                    </button>
                </div>
                <div class="collapse navbar-collapse list">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{ active: homeVisible }" ng-click="homePage();"><a href="#">HOME</a></li>
                        <li ng-class="{ active: aboutVisible }" ng-click="aboutPage();"><a href="#">ABOUT</a></li>
                        <li ng-class="{ active: portfolioVisible }" ng-click="portfolioPage();"><a href="#">PORTFOLIO</a></li>
                        <li ng-class="{ active: contactVisible }" ng-click="contactPage();"><a href="#">CONTACT</a></li>
                        <span class="navbar-btn">
                            <a href="https://drive.google.com/file/d/1O17xjVqQE94NWBZUlFH65Zz5j1B6xTP2/view" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" class="btn btn-default">RESUME</a>
                        </span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-if="aboutVisible == true">
            <div class="hexagon-skills-wrap">
                <div class="row">
                    <!--<div class="col flex">-->
                        <!--<div class="hex-wrap">-->
                    <div class="col-md-3 relative absolute-center">
                            <div class=" hexagon thisDiv"></div>
                    </div>
                    <div class="col-md-3 relative absolute-center">
                        <div class=" hexagon thisDiv">
                            <i class="mdi mdi-speedometer"></i>
                        </div>
                    </div>
                    <div class="col-md-3 relative absolute-center">
                        <div class=" hexagon thisDiv"></div>
                    </div>
                    <div class="col-md-3 relative absolute-center">
                        <div class=" hexagon thisDiv"></div>
                    </div>
                        <!--</div>-->
                    <!--</div>-->
                </div>
				<div class="row">
					<div class="col-md-3">
                        <h5 class="text-center"><b class="match-text">Problem Solving</b></h5>
						<p>Original thinker and have the ability to go beyond traditional approaches, persistent and do not give up easily.</p>
                    </div>
                    <div class="col-md-3 ">
                        <h5 class="text-center"><b class="match-text">Efficient Coding</b></h5>
						Have good knowledge of algorithms and always try to reduce resource consumption
						<a href="#" ng-hide="showText" ng-click="readMore()">Read More..</a>
						 <span ng-show="showText">and completion time as much as possible.</span>
                    </div>
                    <div class="col-md-3 ">
                       <h5 class="text-center"><b class="match-text">Debugging Skills</b></h5>
					   <p>Analyze and find plan of action before blindly diving into the debugger.</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="text-center"><b class="match-text">Respect of Deadlines</b></h5>
						Had taken two subjects in final semester at same time, was doing full time Internship.
						<a href="#" ng-hide="showText" ng-click="readMore()">Read More..</a>
						 <span ng-show="showText">Got A's in both subject and got full time job in same company.</span>
                    </div>
				</div>
                <div class="hexagon-skillbars-wrap row">
					<div class="col-md-6">
						<div class="picture-hexagon" style="left: 5%;">
						  <div class="hexTop"></div>
						  <div class="hexBottom"></div>
						</div>
					</div>
					<div class="col-md-6" style="padding-top: 2%">
						<div class="progress">
						<!--	<div class="skill-name" role="" style="width: 20%; height: 22px; background-color: #00A1A7;">AngularJS</div>-->
							<div class="progress-bar" role="progressbar" style="width: 90%; height: 25px; background-color: #64C7CC;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Python</div>
							<div class="progress-percent text-right">90%</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 85%; height: 22px; background-color: #64C7CC;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Java</div>
							<div class="progress-percent text-right">85%</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 90%; height: 22px; background-color: #64C7CC;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">AngularJS</div>
							<div class="progress-percent text-right">90%</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 90%; height: 22px; background-color: #64C7CC;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">JavaScript</div>
							<div class="progress-percent text-right">90%</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 90%; height: 22px; background-color: #64C7CC;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Bootstrap</div>
							<div class="progress-percent text-right">90%</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 85%; height: 22px; background-color: #64C7CC;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Algorithms</div>
							<div class="progress-percent text-right">85%</div>
						</div>
						<div class="progress">
							<div class="progress-bar text-center" role="progressbar" style="width: 85%; height: 22px; background-color: #64C7CC;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">REST API's</div>
							<div class="progress-percent text-right">85%</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 90%; height: 22px; background-color: #64C7CC;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Oracle SQL, Elastic Search</div>
							<div class="progress-percent text-right">90%</div>
						</div>
					</div>
                </div>
            </div>

        </div>
        <div ng-if="portfolioVisible == true" class="container" style="margin-top:50px">
            <h1>Portfolio In Progress</h1>
        </div>
        <div ng-if="contactVisible == true" class="container" style="margin-top:50px">
            <h1>Contact In Progress</h1>
        </div>
    </div>
</body>
</html>
